.item {
    padding: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 3px 5px rgba(0,0,0,0.2)
}

.item .itemText {
    font-size: 22px;
    font-weight: 400;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.badgeAuthor{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(25, 135, 84,0.8)!important;
}
.badgeRaiting{
    margin-left: 5px;
    margin-right: 5px;
}

.item .date {
    border: none;
    padding-bottom: 1px;
}

.item .footer {
    border: none;
}